/* -------------------------------------- */ 
/* --------------PLUGINS!!!-------------- */ 
/* -------------------------------------- */ 


/* -----------------General Plugin To TaskBar Appearance--------------------- */ 
.xfce4-panel {
   margin-top: 0px;
   margin-left: -1px;
   margin-right: -1px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   border-top: 1px solid @light_shadow;
   border-right: none;
   padding-bottom: 0px;
}

/* --------------Unpressed Button Effect-------------- */ 
#docklike-plugin .group, #showdesktop-button:hover {
margin-top: 1px;
   border-radius: 0px;
   border-top: 1px solid @button_bg_color;
   border-left: 1px solid @button_bg_color;
   border-right: 1px solid @borders;
   border-bottom: 1px solid @borders;
   border-radius: 0px;
   background-color: @button_bg_color;
   box-shadow: inset -1px 0 @dark_shadow, inset 0 -1px @dark_shadow, inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
   outline-offset: -4px;

}

/* --------------Depressed Button Effect-------------- */ 
#docklike-plugin .active_group, #showdesktop-button button:checked {
margin-top: 1px;
   border-radius: 0px;
   border-top: 1px solid @borders;
   border-left: 1px solid @borders;
   border-bottom: 1px solid @light_shadow;
   border-right: 1px solid @light_shadow;
   box-shadow: 1px 1px @dark_shadow inset, -1px -1px @button_bg_color inset;
   background-image: url("assets/scrollbar_trough.png");
   color: @toolbar_fg_color;
   background-color: @button_bg_color;
}

/* xfce4-docklike-plugin pseudo-handle */
#docklike-plugin {
   border-left: 11px solid;
   border-image: url("assets/handle.png");
   border-image-slice: 4 4 3 11;
}

/* Pulse Audio Plugin */
#pulseaudio-button {
   box-shadow: 1px 3px @dark_shadow inset, 0 2px @bg_color inset, 0 -1px @light_shadow inset;
   margin-top: 0px;
   padding-top: 0;
   margin-left: -2px;
   margin-right: -2px;
   padding-left: 0px;
   border-top: 1px solid @light_shadow;
   border-right: none;
   padding-bottom: 0px;
   margin-bottom: 1px;
   background-color: @bg_color;
}

#pulseaudio-button image {
    -gtk-icon-transform: scale(1.0);
    margin-top: 2px;
}

/* Show Desktop Plugin */
#showdesktop-button image {
    -gtk-icon-transform: scale(0);
    background-image:url('assets/arrow_down.png');
    background-size:17px;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

#showdesktop-button:checked image, #showdesktop-button:active image {
    margin-left: -1px;
    -gtk-icon-transform: scale(0);
    background-image:url('assets/arrow_up.png');
    background-size:17px;
    background-position:50% 50%;
    background-repeat:no-repeat;
}
